2020Fall/Academic Ethics and Writing Norms/report/Thesis.*
!2020Fall/Academic Ethics and Writing Norms/report/Thesis.tex
.DS_Store
*artratex.bat
*Tmp*
*artRatex.sh
2020Fall/Academic Ethics and Writing Norms/report/README.md

